spring:
  application:
    name: Mindanao Prosperity Financial Cooperative Security System

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    url: jdbc:h2:mem:mpfcdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  thymeleaf:
    cache: false

  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 30MB

security:
  encryption:
    # 256-bit Base64 key (demo only)
    key: yJtM6v9k0xg8G1f1C8xQy7Uo7Xk8q9bF8wq1s6t9y2M=