spring:
  application:
    name: Mindanao Prosperity Financial Cooperative Security System

  # database configuration
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:mpfcdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  # JPA configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
